@import "./base.css";
#app {
	margin: 50px;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	color: black;
}
nav a:hover {
	background-color: rgb(146, 171, 255);
	color: white;
	border-radius: 30px;
}

nav {
	display: flex;
	justify-content: flex-end;
}
