@import "./base.css";

body {
	background-color: #100431;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#app {
	margin: 50px;
	color: white;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	color: white;
}

nav a:hover {
	background-color: #d0e2ff;
	color: #100431;
	border-radius: 30px;
}

nav {
	display: flex;
	justify-content: flex-end;
}

/* home */

.header {
	font-size: 40px;
	display: flex;
	align-items: baseline;
	color: #d0e2ff;
	margin-left: 120px;
	justify-content: space-between;
}

.header a {
	font-size: 15px;
	text-decoration: none;
	color: white;
}
.header h1 {
	z-index: 3;
	color: black;
	margin-left: 20px;
}

.blueRectangle {
	background-color: #d0e2ff;
	width: 500px;
	border-radius: 150px;
	margin-left: 50px;
	padding: 20px; /* Adding padding to prevent content from touching the edges */
	margin-top: -200px;
	min-height: 1000px; /* Ensures a minimum height */
	height: auto; /* Allows the height to adjust based on content */
	z-index: 1;
	position: relative;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
}

.attraction-info {
	display: flex;
	flex-direction: column;
}

.picture {
	width: 40%;
}

.attraction-info {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.attraction-name {
	background-color: aliceblue;
	border-radius: 30px;
	color: black;
	font-size: 30px;
}

.attraction-name h3 {
	padding: 0px 20px;
	margin-left: 7px;
}

.info {
	margin-left: 60px;
}
.Description {
	margin-top: 80px;
	margin-left: 100px;
}
.Description p {
	width: 400px;
	display: flex;
}
.attraction-info2 {
	display: flex;
	flex-direction: row;
	margin-left: 50px;
}

.attraction-info2 h3 {
	margin-right: 20px;
}

.attraction {
	background-color: white;
	border-radius: 30px;
	color: black;
	margin-top: 50px;
	width: 250%;
}
.attraction-actions {
	display: flex;

	margin-top: 20px;
	margin-bottom: 20px;
}
.attraction-actions button {
	background-color: #100431;
	margin: 15px;
	color: white;
	padding: 10px;
	border-radius: 20px;
	width: 150px;
	border-style: none;
}
.buttonsHome {
	display: flex;
}
.attraction-actions button:active {
	background-color: #d0e2ff;
	color: black;
}
.editButtons {
	display: flex;
	flex-direction: column;
	width: 370px;
}
.editButtons input {
	width: 350px;
}
.arrowButton {
	border-radius: 20px;
	border-style: none;
	align-items: center;
	padding: 0px 20px;
	display: flex;
	margin-left: 20px;
	flex-direction: row-reverse;
}
.arrowButton a {
	text-decoration: none;
	color: black;
}
.createCategoryButton {
	color: white;
	text-decoration: none;
}
.category {
	background-color: aliceblue;
	color: black;
	border-radius: 30px;
	display: flex;
	margin-top: 30px;
	width: auto;
	flex-direction: column;
}
.category h3 {
	margin-left: 20px;
}
.categoryButton {
	display: flex;
}
.categoryButton button {
	margin-left: 40px;
}
